.forget-password-page{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form-container{
    box-shadow: 3px 3px 10px gray;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 320px;
    font-size: small;
}
.form-container>form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-container label{
    font-size: medium;
}
.form-container input{
    border-radius: 3px;
    padding: 5px;
    border: 1px solid black;
}
.form-container button{
    background-color: #0a95ff;
    color: white;
    margin: 20px 0;
    border: none;
    border-radius: 5px ;
    padding: 10px;
    cursor: pointer;

}
.form-container button:hover{
    background-color: #0c6bb4;
}

